include MANIFEST.in
include README.md
include PKG-INFO
include LICENSE.txt

include distribute_setup.py
recursive-include lib *.pyx
recursive-include lib *.py
recursive-include bin *
recursive-include doc *
