include MANIFEST.in
include README.md
include PKG-INFO
include LICENSE

include distribute_setup.py
recursive-include src *.pyx
recursive-include src *.py
recursive-include src *.pkl
recursive-include scripts *
recursive-include doc *
